/* code for the dropdown navbar */
.navbar{
    display: flex;
    height: 50px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}
.nav-brand{
    width: 40%;
    display: flex;
    align-items: center;
}
.navlist{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.navlist > li{
    padding: 10px;
}
.navbar li{
    list-style: none;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.web-development-list{
    display: none;
    position: absolute;
    padding-top: 20px;
    transition: all 0.5s ease-in;
}
.dropdown:hover > .web-development-list{
    display: flex;
    flex-direction: column;
    height: 50px;
}
.dropdown  li{
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    padding: 10px;
    text-align: center;
}
.frontend-list{
    display: none;
    position: absolute;
    margin-left: 90px;
    margin-top: -10px;
    transition: all 0.5s ease-in;
}
.backend-list{
    display: none;
    position: absolute;
    margin-left: 90px;
    transition: all 0.5s ease-in;
}
.flex{
    display: flex;
}
.frontend:hover > .frontend-list{
    display: block;
}
.backend:hover > .backend-list{
    display: block;
}
.hamburger{
    width: 50px;
    display: none;
    cursor: pointer;
}
.line{
    margin: 3px;
    width: 50px;
    height: 7px;
    background: white;
}
@media only screen and (max-width: 700px){
    .nav-brand{
        width: 100%;
    }
    .navlist{
        flex-direction: column;
        padding-top: 20px;
        transition: all 1s ease-in-out;
    }
    .hamburger{
        display: block !important;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .navbar{
        flex-direction: column;
    }
    .web-development-list{
    display: none;
    position: relative;
    margin-bottom: 30px;
    }
    .hide-navlist{
        display: none;
    }
    .height-navbar{
        height: auto !important;
    }
}